<html>
  <head>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <style>
 #b1{
  background: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
 }
 </style>

<body id="b1">
<div class="row mt-5">
  <div class="col-md-8 m-auto">
    <div class="card card-body text-center">
      <h1><i class=""></i></h1>
      <p>Create an account or login</p>
      <a href="/operators/register" class="btn btn-danger mb-2">Register</a>
      <a href="/operators/login" class="btn btn-secondary ">Login</a>
    </div>
  </div>
</div>
</body>
</html>